/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  color: inherit; 
  text-decoration: none;
}

/* Global */

html {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: var(--fontColor);
  font-size: 18px;
  margin: auto;
  min-height: 100%;
}

body {
  line-height: 1.5;
  background: var(--background-gradient);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

button, input, select, textarea {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


